################################################################################
## node
################################################################################
node_modules

################################################################################
## project
################################################################################
build

################################################################################
## operating system
################################################################################
.DS_Store