/******************************************************************************
 * Fonts
*******************************************************************************/
$font-family-mono: 'Source Code Pro', monospace;

/******************************************************************************
 * Colors
*******************************************************************************/
// base colors
$color-black: #1c1b22;
$color-white: #fff;
// brand colors
$color-brand-black: #212128;
$color-brand-yellow: #fee000;

/******************************************************************************
 * Spacing
*******************************************************************************/
$expander: 20px;
$expander-two: 40px;
$expander-three: 80px;
$nudge: 17px;
$padding-wrap: 6vw;
$grid-gutter: 34px;

/******************************************************************************
 * Sizes
*******************************************************************************/
$wrap-copy: 800px;
$intro-logo-size: 50px;
$intro-welcome-size: 275px;
$header-logo-size: 33vw;
$header-logo-size-max: 300px;
$header-logo-mark-size: 20px;

/******************************************************************************
 * Typography
*******************************************************************************/
$p-size: 15px;
$p-size-two: 16px;
$p-line: 1.6;
$p-line-two: 1.6;
$h1-size: 12vw;
$h1-size-two: 70px;
$h1-line: 1.2;
$h1-line-two: 1.2;
$h2-size: 8vw;
$h2-size-two: 40px;
$h2-line: 1;
$h2-line-two: 1;
$h3-size: 18px;
$h3-line: 1.5;
$meta-size: 14px;
$quote-size: 19px;
$quote-size-two: 32px;
$quote-line: 1.5;
$quote-line-two: 1.5;
$nava-size: 40px;
$nava-size-two: 8vw;
$nava-line: 1.2;
$nava-line-two: 1.2;
$track: 0;
$track-two: 0.8px;
$footer-size: 50%;
$footer-size-two: 80%;
$btn-pad: 0.6em 1em;
$btn-size: 20px;

/******************************************************************************
 * Layering
*******************************************************************************/
$z-layer-10: 100;
$z-layer-09: 90;
$z-layer-08: 80;
$z-layer-07: 70;
$z-layer-06: 60;
$z-layer-05: 50;
$z-layer-04: 40;
$z-layer-03: 30;
$z-layer-02: 20;
$z-layer-01: 10;
$z-layer-behind: -1;
$z-layer-infront: 1000;

/******************************************************************************
 * Breakpoints
*******************************************************************************/
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

/******************************************************************************
 * Grid system
*******************************************************************************/
$grid-gutter: 1rem;
$grid-columns: 12;

/******************************************************************************
 * Animations
*******************************************************************************/
$ease: cubic-bezier(0.62, 0, 0.38, 1); // main easing. custom ease-in-out
$ease-two: cubic-bezier(0.8, 0, 0.6, 1); // longer ease-in-out
$duration: 400ms;
$duration-two: 800ms;
$duration-three: 12000ms;
$duration-four: 1600ms;
$duration-five: 2000ms;
