/******************************************************************************
 * Fonts
*******************************************************************************/
$font-family-mono: 'Source Code Pro', monospace;

/******************************************************************************
 * Colors
*******************************************************************************/
// base colors
$color-black: #1c1b22;
$color-white: #fff;
// brand colors
$color-brand-black: #212128;
$color-brand-yellow: #fee000;

/******************************************************************************
 * Layering
*******************************************************************************/
$z-layer-10: 100;
$z-layer-09: 90;
$z-layer-08: 80;
$z-layer-07: 70;
$z-layer-06: 60;
$z-layer-05: 50;
$z-layer-04: 40;
$z-layer-03: 30;
$z-layer-02: 20;
$z-layer-01: 10;
$z-layer-behind: -1;
$z-layer-infront: 1000;

/******************************************************************************
 * Breakpoints
*******************************************************************************/
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

/******************************************************************************
 * Grid system
*******************************************************************************/
$grid-gutter: 1rem;
$grid-columns: 12;
