@import "../../../styles/config/index";
/*******************************************************************************
 * Screen Modules
 ******************************************************************************/
// Transition mixins for .screen
.screen {
    @include cover(fixed);
    visibility: visible;
    z-index: $z-layer-infront;

    &__inner {
        position: relative;
        height: 100%;
        width: 100%;
    }

    // CSSTransition classname
    &-enter {
        transform: translate3d(100%, 0, 0);
    }

    &-enter-active {
        transform: translate3d(0, 0, 0);
        transition: transform $duration-two $ease;
    }

    &-exit {
        transform: translate3d(0, 0, 0);
    }

    &-exit-active {
        transform: translate3d(-100%, 0, 0);
        transition: transform $duration-two $ease;
    }
}
