@import "../../../styles/config/index";
$delay: 50;

.intro-svg {
    fill: $color-white;
    width: 100%;

    &__g {
        opacity: 0;

        path {
            opacity: 0;
            transform: translate3d(0, 40px, 0);
            opacity: 1;
        }

        @for $i from 1 through 14 {
            path:nth-child(#{$i}) {
                transition-delay: #{$i * $delay}ms;
            }
        }

        &-enter {
            opacity: 0;

            path {
                opacity: 0;
                transform: translate3d(0, 40px, 0);
            }
        }

        &-enter-active {
            opacity: 1;
            transition: opacity $duration $ease;

            path {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition: opacity $duration $ease, transform $duration $ease;
            }
        }

        &-enter-done {
            opacity: 1;

            path {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        &-exit {
            opacity: 1;

            path {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        &-exit-active {
            opacity: 0;
            transition: opacity $duration $ease;

            path {
                opacity: 0;
                transform: translate3d(0, 40px, 0);
                transition: opacity $duration $ease, transform $duration $ease;
            }
        }

        &-exit-done {
            opacity: 0;

            path {
                opacity: 0;
                transform: translate3d(0, 40px, 0);
            }
        }
    }
}
