@import "../../styles/config/index";

/*******************************************************************************
 * Header
 ******************************************************************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-layer-10;

    &__inner {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        width: 100%;
    }

    &__branding {
        position: relative;
        border-left: ($nudge / 2) solid $color-brand-yellow;

        .site-logo {
            position: relative;
            padding: $nudge ($nudge / 2);

            svg {
                transition: opacity $duration $ease, transform $duration $ease;
            }

            svg:first-child {
                opacity: 1;
                width: $header-logo-size;
                max-width: $header-logo-size-max;
                transform: translate3d(0, 0, 0);
            }

            svg:last-child {
                opacity: 0;
                width: $header-logo-mark-size;
                position: absolute;
                top: 50%;
                left: $nudge;
                transform: translate3d(-100%, -50%, 0);
            }
        }
    }

    &__social {
        margin-left: auto;
    }

    // Scroll effects
    .is-scrolled-down & &__branding {
        // swap logo with logo-mark once page is scrolled
        .site-logo {
            svg:first-child {
                opacity: 0;
                transform: translate3d(-100%, 0, 0);
            }
            svg:last-child {
                opacity: 1;
                transform: translate3d(0, -50%, 0);
            }
        }
    }
}
